<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Hotel la Luz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
     
      <li><a href="/habitacion">Habitaciones</a></li>
      <li><a href="/atraccion">Atracciones turisticas</a></li>
      <li ><a href="/politica">Politicas</a></li>
      <li ><a href="/contacto">Contactos</a></li>
      <li><a href="/forpago">Forma de pago</a></li>
      <li><a href="/infogen">Informacion General</a></li>
      <li ><a href="/ofertas">Ofertas</a></li>
      <li ><a href="/paqutes">Paquetes</a></li>
      <li><a href="/tipohab">Tipo Habitacion</a></li>
      <li><a href="/usuario">Usuario</a></li>
      <li><a href="/reservacion">reservacion</a></li>
      <li><a (click)="onLogout()" value="Logout">cerrar Secion</a></li>
    </ul>
  </div>
  <!-- <tr>
    <td colspan="2" class="text-center">
        <input type="button" (click)="onLogout()" value="Logout" />
    </td>
</tr> -->

</nav>

<ul class="sidenav" id="mobile-demo">

  <li><a href="/habitacion">Habitaciones</a></li>
  <li><a href="/atraccion">Atracciones turisticas</a></li>
  <li ><a href="/politica">Politicas</a></li>
  <li ><a href="/contacto">Contactos</a></li>
  <li><a href="/forpago">Forma de pago</a></li>
  <li><a href="/infogen">Informacion General</a></li>
  <li ><a href="/ofertas">Ofertas</a></li>
  <li ><a href="/paqutes">Paquetes</a></li>
  <li><a href="/tipohab">Tipo Habitacion</a></li>
  <li><a href="/usuario">Usuario</a></li>
  <li><a href="/reservacion">Usuario</a></li>
</ul>